@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Voltaire&display=swap");
.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.font-size-1rem {
  font-size: 1rem;
}

.font-size-2rem {
  font-size: 2rem;
}

.font-size-3rem {
  font-size: 3rem;
}

.font-size-4rem {
  font-size: 4rem;
}

.font-size-5rem {
  font-size: 5rem;
}

.secciones-main {
  background-color: #F2D1C9;
}

.secciones-header {
  background-color: #F2D1C9;
}

.secciones-box {
  background-color: #C4C4C4;
}

.secciones-footer {
  background-color: #BF8F73;
}

.font-weight-ligth {
  font-weight: 300;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}

.color-secciones-text {
  color: #000000;
}

.color-secciones-footer {
  color: #FFFFFF;
}

.color-secciones-header {
  color: #BF8F73;
}

.color-secciones-title {
  color: #BF8F73;
}

.color-secciones-subtitle {
  color: #BF8F73;
}

.font-main {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.footer {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  justify-self: stretch;
  padding-top: 1rem;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1rem;
  color: #FFFFFF;
}

.footer .footerIzq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: .5rem;
}

.footer .footerIzq p:hover {
  -webkit-transition: .25seg;
  transition: .25seg;
  padding-left: .5rem;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.footer .footerDer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1rem;
  color: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer .footerDer img {
  padding: .5rem;
}

.footer .footerDer img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.bordeado li a {
  padding: 1rem;
}

.bordeado li a:hover {
  background-color: #C4C4C4;
  padding: 1.2rem;
  border-radius: 2rem;
}

.bandera {
  text-align: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

h1 {
  text-decoration: underline;
  color: #BF8F73;
  font-weight: 700;
  margin-top: 1rem;
  text-align: center;
}

h2 {
  text-decoration: underline;
  color: #BF8F73;
  font-weight: 400;
  margin-top: 0rem;
  text-align: left;
}

span {
  color: #C4C4C4;
  font-weight: 700;
}

.bordeLista {
  border: solid #BF8F73;
}

.listaCentrada {
  text-align: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.ancho {
  height: 50vh;
}

.mg-a {
  margin: 2rem;
}

.recibe {
  color: #000000;
  font-weight: 300;
  margin: 1rem;
}

.contactos{
  text-decoration: underline;
  color: #BF8F73;
  font-weight: 700;
  margin-top: 1rem;
  text-align: center;
}

.ListaPrecios{
  text-decoration: underline;
  color: #BF8F73;
  font-weight: 700;
  margin-top: 1rem;
  text-align: center;
}

.map-responsive{
  overflow: hidden;
  padding-bottom: 25%;
  position: relative;
  height: 0;
}

.map-responsive iframe{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*# sourceMappingURL=estilos.css.map */
